<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <h2>Hello Webpack!</h2>
  <p>Hello <span id="yerName">Dave</span></p>
  <p>Made an async call to a REST endpoint. <span id="fetchResult"></span></p>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
    asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery" crossorigin="anonymous"
    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
  <%= require('html-loader!./partial.ejs') %>
</body>

</html>